PORT=4000
DATABASE_URL="postgresql://bsn:bsn@localhost:5432/bsn_lacak?schema=public"
JWT_SECRET="ganti-dengan-secret-acak-min-32-karakter"
JWT_EXPIRES_IN="15m"
REFRESH_TTL_DAYS=7
WEB_ORIGIN="http://localhost:5173"
UPLOAD_DIR="./uploads"
# COOKIE_DOMAIN=".bsn.co.id"          # set di production
# COOKIE_SECURE=true                  # set true di production (HTTPS)
